<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <title>Tea Blog - Sign up</title>
</head>
<body>
<div class="container">
    <%- include('partials/menu'); -%>
    <form class="auth-form">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Username" name="username" autocomplete="off" required>
        <div class="username error"></div>
        <input type="password" placeholder="Password" name="password" required>
        <div class="password error"></div>
        <input type="text" placeholder="Email" name="email" autocomplete="off" required>
        <div class="email error"></div>
        <button class="form-btn">Sign Up</button>
    </form>

    <script>
        const form = document.querySelector('form');
        const usernameError = document.querySelector('.username.error');
        const passwordError = document.querySelector('.password.error');
        const emailError = document.querySelector('.email.error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            usernameError.textContent = '';
            passwordError.textContent = '';
            emailError.textContent = '';

            const username = form.username.value;
            const email = form.email.value;
            const password = form.password.value;

            try{
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({ username, email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();

                console.log(data);

                if (data.errors){
                    usernameError.textContent = data.errors.username;
                    passwordError.textContent = data.errors.password;
                    emailError.textContent = data.errors.email;
                }

                if (data.user){
                    location.assign('/');
                }

            }catch(err){
                console.log(err);
            }
        });
    </script>

    <div class="footer">Tea Blog &copy 2022</div>
</div>
</body>
</html>